{
  "presets": ["amex", "@babel/preset-env", "@babel/preset-react"],
  "plugins": [ "@babel/plugin-transform-react-jsx","transform-do-expressions"],
  "env": {
    "development/client": {
      "presets": ["react-hmre"]
    }
  }
}
