{
    "parser": "babel-eslint",
    "extends": ["prettier"],
    "plugins": ["prettier"],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true
        }
    }
}